body {
    background-color:grey;
}

.flex-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
    position: absolute;
    left: 1px;
}

.flex-item3 {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.h1 {
    animation-name: colorswitch;
    transition: 3s;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes colorswitch {
    from {color: orange}
    to {color: purple;}
    from {border-color: orange;}
    to {border-color: purple;}
}


#num1 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#num2 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div1 {
    display: flex;
    justify-content: flex-start;
}

#div2 {
    display: flex;
    justify-content:flex-start;
   

}

#num3 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div3 {
    display: flex;
    justify-content: flex-start;
}

#num4 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div4 {
    display: flex;
    justify-content: flex-start; 
}

#num5 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div5 {
    display:flex;
    justify-content: flex-start;
    position: absolute;
    left: 5px;
}

#num6 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div6 {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 340px;
}

#num7 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div7 {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 672px;
}

#num8 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div8 {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 1007px;
}

#num9 {
    border-color: orange;
    padding:20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div9 {
    display: flex;
    justify-content: flex-start;
    margin: 150px;
    position: absolute;
    right:970px;
}

#num10 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div10 {
    display: flex;
    justify-content: flex-start;
    margin: 150px;
    position: absolute;
    left: 230px;
}
#num11 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#div11 {
    display: flex;
    justify-content: center;
    margin: 150px;
    position: absolute;
    right: 306px;
}

#num12 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#div12 {
    display: flex;
    justify-content: flex-end;
    margin: 150px;
    position: absolute;
    left: 900px;
}

#num13 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#div13 {
    display: flex;
    justify-content: flex-start;
    margin: 250px;
    position: absolute;
    right: 870px;
}

#num14 {
    border-color: orange;
    padding: 20px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#div14 {
    display: flex;
    justify-content: center;
    margin: 250px;
    position: absolute;
    left: 130px;
}

#Submit {
    width: 130px;
    height: 50px;
    margin: 260px;
    border-radius: 30px;
    border-color: orange;
    position: absolute;
    right: 220px;
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

span{
    transition: 3s;
    animation-name: colorswitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}