<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlib homepage</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 class="h1">MADLIB</h1>

    <form action="{{enter}}" method="POST">
    <div class="flex-item">
        <div id="div1">
        <label for="num1"></label>
        <input type="text" id="num1" name="Plural noun1" placeholder="Enter a plural noun:"><br>
        </div><br>

        <div id="div2">    
        <label for="num2"></label>
        <input type="text" id="num2" name="Plural noun2" placeholder="Enter a plural noun:"><br>
        </div><br>

        <div id="div3">
        <label for="num3"></label>
        <input type="text" id="num3" name="1st number" placeholder="Enter a number:"><br>
        </div><br>
        
        <div id="div4">
        <label for="num4"></label>
        <input type="text" id="num4" name="plural noun3" placeholder="Enter a plural noun:"><br>
     </div><br>
    </div>


    <div class="flex-item2">
    <div id="div5">
    <label for="num5"></label>
    <input type="text" id="num5" name="noun1" placeholder="Enter a noun:"><br>
    </div><br>

    <div id="div6">
    <label for="num6"></label>
    <input type="text" id="num6" name="noun2" placeholder="Enter a noun:">
        </div>
    
    <div id="div7">
    <label for="num7"></label>
    <input type="text" id="num7" name="noun3" placeholder="Enter a noun:">
    </div>
    
    <div id="div8">
    <label for="num8"></label>
    <input type="text" id="num8" name="partofbody1" placeholder="Enter a part of the body:"> 
    </div>
     </div>

    <div class="flex-item3">
    <div id="div9">
    <label for="num9"></label>
    <input type="text" id="num9" name="plural noun4" placeholder="Enter a plural noun:">
    </div>

    <div id="div10">
    <label for="num10"></label>
    <input type="text" id="num10" name="plural noun5" placeholder="Enter a plural noun:">
    </div>

    <div id="div11">
    <label for="num11"></label>
    <input type="text" id="num11" name="plural noun6" placeholder="Enter a plural noun:">
    </div>

    <div id="div12">
    <label for="num12"></label>
    <input type="text" id="num12" name="part of body2" placeholder="Enter a part of the body:">
    </div>
    </div>

    <div id="flex-item4">
        <div id="div13">
        <label for="num13"></label>
        <input type="text" id="num13" name="part of body3" placeholder="Enter a part of the body:">
        </div>

        <div id="div14">
            <label for="num14"></label>
            <input type="text" id="num14" name="noun4" placeholder="Enter a noun:">
        </div>
    </div>
    <button id="Submit">Submit</button>

    </form>

</body>
</html>