<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlib homepage</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>MADLIB</h1>
    <div class="grid-item">
        <div id="div1">
        <label for="num1"></label>
        <input type="text" id="num1" name="Plural noun1" placeholder="Enter a plural noun:"><br>
        </div><br>

        <div id="div2">    
        <label for="num2"></label>
        <input type="text" id="num2" name="Plural noun2" placeholder="Enter a plural noun"><br>
        </div><br>
    </div>

</body>
</html>